html {
	background: #fff;
}
.box {
	width: 100%;
	/* darkmode: ignore next */
	color: #a1a1a1;
	/* darkmode: {#f0f} */
	caret-color: rgba(244, 20, 20, 0.3);
	border: 1px solid #ffb821;
	background: #fff url(https://example.com/icon.png);
	column-rule: thick inset #0000ff;

	.inner {
		color: orange;
		width: 100px;
		border-left: 1px solid #000;
		-webkit-text-emphasis: filled double-circle orange;

		.hello {
			color: #ff5c38;
			border-width: 2px;
			text-decoration: wavy underline green;
		}
	}
}
.box2 {
	/* darkmode: off */
	background: #333;
	color: #f6f8fa;
}
.box3 {
	color: pink;
	border: 1px solid green;
	background: #fff;
	/* darkmode: { linear-gradient(90deg, rgba(18, 18, 18, 0.2), #121212 40px) } */
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), #fff 40px);
}
.box4 {
	color: #ff6022;
	background: linear-gradient(to right, #f0f, #00f);
}
.box5 {
	background: #888 url(https://example.com/box.png);
	color: #ebebeb;
}
.foo {
	font-size: 30px;
	line-height: 1.2;
	outline: 2px solid green;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(180deg, green 0, orange 100%);
}
