.box {
	width: 100%;
	color: #a1a1a1;
	caret-color: rgba(244, 20, 20, 0.3);
	border: 1px solid #ffb821;
	background: #fff url(icon.png);
	column-rule: thick inset #0000ff;

	.inner {
		/* darkmode: ignore next */
		color: orange;
		width: 100px;
		background: #fff;
		border-left: 1px solid #000;
		-webkit-text-emphasis: filled double-circle orange;

		.hello {
			color: #f0f;
			border-width: 2px;
			text-decoration: wavy underline green;
		}
	}
}
.box2 {
	/* darkmode: off */
	background: #333;
	color: #f6f8fa;
}
.box3 {
	color: pink;
	border: 1px solid green;
	background: #fff;
}
.box4 {
	color: #000;
	background: linear-gradient(to right, #f0f, #00f);
}
.box5 {
	background: #888 url(a.png);
	color: #ebebeb;
}
.foo {
	color: hsl(20, 30, 20);
	outline: 2px solid green;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-image: linear-gradient(180deg, #ffb821 0, #ff5c38 45%, #ff1459);
	border: 1px solid #f0f;
}
