*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
build
node_modules
.cache
.sass-cache
*.build
*.grunt
.ftppass
.vscode
*.map
package-lock.json
example/node_modules
example/dist